.containers {
  background-color: #F9FAFC;
}
.main-flex {
  display: flex;
}

@media (max-width: 696px) {
.containers {


}
app-sidenav {
  height: 50px;
  background-color: #e61010;
}
.main-flex {
  display: block;
}
}
